@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fffff0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 50%;
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}
