@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

#amount-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fffff0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 60%;
  height: 6vh;
  border-radius: 10px;
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1 {
  margin-top: 25px;
}

p {
  margin-bottom: 16px;
}

.object {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-size: cover;
}

#object {
  height: 40px;
  background: #ffffff;
  border-style: solid;
  border-radius: 10px;
}

#amount-div {
  display: flex;
  flex-wrap: wrap;
  align-items: row;
}

#visualizeBtn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#visualizeBtn:hover,
#visualizeBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#visualizeBtn:hover {
  transform: translateY(-1px);
}

#visualizeBtn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.penny {
  background-image: url("currency/penny.png");
}

.nickel {
  background-image: url("currency/nickel.png");
}

.dime {
  background-image: url("currency/dime.png");
}

.quarter {
  background-image: url("currency/quarter.png");
}

.porsche911gt3rs {
  background-image: url("objects/porsche-gt3-rs.png");
}

.boba {
  background-image: url("objects/boba.avif");
}

.wiessmann {
  background-image: url("objects/wiessmann.png");
}

.apple {
  background-image: url("objects/apple.webp");
}

.minecraft {
  background-image: url("objects/minecraft.webp");
}
